
# 运行一次：chezmoi edit-config
encryption = "age"

[edit]
  command = "code-insiders"          # VS Code；改成 "nvim"、"notepad" 等均可
  args    = ["--wait"]      # VS Code 必须带 --wait 才能让 chezmoi 等你保存后再继续

[interpreters.ps1]
    command = "pwsh"
    args = ["-NoLogo", "-NoProfile", "-ExecutionPolicy", "Bypass"]

[age]
  recipient = "age1khp8uj2cqsltp8ekum38ajlq88gl6r8x79auwqfxylearqkseyyqq80em4"
  identity  = "~/.config/age/keys.txt"

[diff]
  exclude = ["externals"]


{{- /* 先声明局部变量 —— 只算不输出 */}}
{{- $isWindows   := eq .chezmoi.os "windows" }}
{{- $isContainer := or (stat "/.dockerenv") (stat "/run/.containerenv") }}
{{- $isWSL       := and (eq .chezmoi.os "linux")
                         (contains "microsoft" (lower .chezmoi.kernel.osrelease)) }}
{{- $isWSLHost   := and $isWSL (not $isContainer) }}

[data]
# 以下四个字段供所有模板复用
is_windows    = {{ printf "%t" $isWindows }}
is_container  = {{ printf "%t" (not (not $isContainer)) }}
is_wsl        = {{ printf "%t" $isWSL }}
is_wsl_host   = {{ printf "%t" $isWSLHost }}



