{{- if .is_windows }}
{{ .chezmoi.sourceDir }}/.chezmoitemplates/dot_gitconfig.windows
{{- else if .is_wsl_host }}
{{ .chezmoi.sourceDir }}/.chezmoitemplates/dot_gitconfig.wsl
{{- else }}
{{ .chezmoi.sourceDir }}/.chezmoitemplates/dot_gitconfig.linux
{{- end }}