{{- if .is_windows }}
{{ .chezmoi.sourceDir }}/.chezmoitemplates/dot_ssh_config.windows
{{- else if .is_wsl_host }}
{{ .chezmoi.sourceDir }}/.chezmoitemplates/dot_ssh_config.wsl
{{- else }}
{{ .chezmoi.sourceDir }}/.chezmoitemplates/dot_ssh_config.linux
{{- end }}
